.order_form_container {
  width: 100%;
  height: 90%;
  padding: 30px 25% 70px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: var(--primary-font);

  button {
    border: none;
    width: 50%;
    height: 40px;
    background-color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="submit"] {
    width: 100%;
    height: 40px;
    border: none;
    color: var(--secondary-bg-text);
    margin: 20px 0;
    border-radius: 5px;
    background-color: var(--primary-orange);

    &:hover {
      cursor: pointer;
    }
  }

  p {
    text-align: center;
    font-weight: 400;
  }

}

.form_layout {
  margin-top: 20px;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  gap: 30px;

  input {
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
  }

  .form_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
      color: #EB5757;
      font-size: 14px;
    }
  }

  .error {
    p {
      color: red;
    }
  }
}

.form_left_side {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .left_side_1 {
    display: flex;
    gap: 20px;

    input {
      width: 100%;
    }
  }


  .left_side_3 {
    display: flex;
    align-items: center;
    gap: 12px;

    input[type=number] {
      border: none;
      border-radius: 5px;
      padding: 5px;
      width: 99%;
      height: 40px;
    }
  }

  .left_side_4 {
    display: flex;
    justify-content: space-between;
    height: 41px;
    padding-top: 10px;

    button {
      display: flex;
      justify-content: center;
      width: 18px;
      height: 18px;
      border-radius: 10px;
      background-color: var(--primary-orange);
    }
  }

  .promo_code {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 40px;
  }
}

.form_right_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .right_side_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .street {
      width: 70%;
    }

    input {
      width: 20%;
    }

  }

  .right_side_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      width: 20%;
    }
  }


}
