.square{
    border-radius: 7px;
    width: 80%;
    margin: 20px 10%;
    height: auto;
  }
  
  .carousel-caption{

    h5{
      color:rgb(255, 255, 255);
      font-size: xx-large;
      text-shadow: 2px 2px black;
    }
    p{
      color:rgb(255, 255, 255);
      font-size: larger;
      text-shadow: 2px 2px black;
    }
  }
 