.wrapper-menu-pic{
    width: 80%;
    height: auto;
    margin: 30px 10%;
}

  .wrapperTop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .firstBlock{
      width: 48%;
      margin: 0 1%;
      
      
      img{
        width: 100%;
        height: 90%;
      }
    }
    .firstBlock a img{
      opacity: 1;
      transition: opacity 124ms linear, transform 124ms linear;
    }
    .firstBlock a img:hover{
      opacity: 0.9;
      transform: scale(1.05);
    } 

    .secondBlock{
      width: 23%;
      margin-left: 1%;
    
      img{
        width: 100%;
        height: 90%;
      }
    }

    .secondBlock a img{
      opacity: 1;
      transition: opacity 124ms linear, transform 124ms linear;
    }
    .secondBlock a img:hover{
      opacity: 0.9;
      transform: scale(1.05);
    }

    .thirdBlock{
      width: 24%;
      margin: 0 1%;
      
      img{
        width: 100%;
        height: 90%;
      }
    }
    .thirdBlock a img{
      opacity: 1;
      transition: opacity 124ms linear, transform 124ms linear;
    }
    .thirdBlock a img:hover{
      opacity: 0.9;
      transform: scale(1.05);
    }
  }
  
  .wrapperBottom{
    display: flex;

    .fourthBlock{
      width: 48%;
      margin: 0 1%;
      
      img{
        width: 100%;
        height: 90%;
      }
    }

    .fourthBlock a img{
      opacity: 1;
      transition: opacity 124ms linear, transform 124ms linear;
    }
    .fourthBlock a img:hover{
      opacity: 0.9;
      transform: scale(1.05);
    }

    .fifthBlock{
      width: 48%;
      margin: 0 1%;
      
      img{
        width: 100%;
        height: 90%;
      }
    }

    .fifthBlock a img{
      opacity: 1;
      transition: opacity 124ms linear, transform 124ms linear;
    }
    .fifthBlock a img:hover{
      opacity: 0.9;
      transform: scale(1.05);
    }
  }
  .nameProduct{
      position: relative;
      color: white;
      font-size: larger;
      font-weight: 500;
      top: -35px;
      left: 10px;
      text-decoration: none;
    }

  .firstBlock img, .secondBlock img, 
  .thirdBlock img, .fourthBlock img, 
  .fifthBlock img{
      border-radius: 5px;
  }
  