@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("Fredoka-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("Fredoka-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("Fredoka-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Fredoka-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: 'AveriaLibre';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("AveriaLibre-Light.ttf") format('truetype');
}