.cart_checkout_container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;

  .upper_part {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5dvh;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 290px;
      height: 50px;
      background-color: var(--primary-bg);
      border-radius: 3px;
      font-size: 24px;
      font-weight: 500;
    }
  }
}