.toggle-element {
  display: flex;
  div {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: none;
    width: 50%;
    height: 40px;
    background-color: #fff;

    &:hover {
      cursor: pointer;
    }
  }
  .active {
    background-color: var(--secondary-orange);
    color: var(--secondary-bg-text);
    pointer-events: none;

    img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(133deg) brightness(103%) contrast(104%);
    }
  }
}

.form_left_toggle {
  border-radius: 5px 0 0 5px;
}

.form_right_toggle {
  border-radius: 0 5px 5px 0;
}

