.buttons{
    width: 80%;
    margin: 0 10%;
    padding-top: 20px;
    font-size: x-large;
  }

  .buttons a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0 10px;
  }
  .buttons a:hover{
    color: rgb(255, 152, 70);
  }

  .wrapper_CardBar{
    width: 80%;
    height: 450px;
    margin: 0 10%;
  }

  .card-group{
    position: relative;
    top: -50px;
  }
  .cardSlider{
    height: 400px;
  }
  
  .arrowLeft{
    position: relative;
    left: -90px;
    top: 190px;
  }
  .arrowLeft:hover{
    opacity: 0.8;
  }
  .arrowRight{
    position: relative;
    top: -280px;
    left: 940px;
  }
  .arrowRight:hover{
    opacity: 0.8;
  } 

  .btn-light{
    --bs-btn-border: none;
    --bs-btn-hover-bg: none;
    --bs-btn-border-color: none;

    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none; 
     --bs-btn-active-shadow: none;
  }

  .btn{
    --bs-btn-border: none;
  }

  .card { 
    margin-right: 20px; 
  }

  .card-body{
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0;
  }

  .card-img-top{
    height: 220px;
  }

  .card-text{
    color:rgb(165, 165, 165);
    font-weight: 500;
  }

  .card-group>.card{
    box-shadow: 3px 2px 2px rgb(206, 206, 206);
    border-radius: 7px;
  }
  .card-group>.card+.card{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 7px;
   }
   
  .card:last-child {
    margin-right: 0; 
   } 

  .card-footer{
    width: 270px;
    position: relative;
    left: -3px;
  } 

  .text-muted{
    position: relative;
    top: 2px;
    left: 15px;
    font-size: x-large;
    font-weight: 700;
  }
  
  .buttonAdd{
    position: relative;
    width: 120px;
    height: 40px;
    left: 65px;
    top: -2px;
    background-color: rgb(244, 109, 64);
    font-weight: 600;
    font-size: 1.2em;
    background-color: rgb(244, 109, 64);
  }

  .buttonAdd:hover{
    background-color: rgb(233, 76, 24);
  }

  .category_container {
    width: 100%;
    padding: 30px calc((100% - 950px) / 2) 170px;
    background-color: var(--primary-bg);
}

@media (max-width: 1730px) {
  .category_container {
      padding: 30px 40px 170px;
  }
}
@media (max-width: 700px) {
  .category_container {
      padding: 15px 15px 100px;
  }
}
@media (max-width: 500px) {
  .category_container {
      padding: 15px 15px 0;
  }
}
  /*rgb(244, 109, 64); figma add button*/ 
  /*rgb(255, 152, 70);* figma orange/
  /*rgb(255, 136, 0); my*/