.wrap_carousel{
  width: 100%;
  
}

.product_carousel{
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin: 2vh 0 4vh 0;
  // margin-top: 2vh;
  // margin-bottom: 5vh;
  width: 100%;

  .arrow{
    border: none;
  }
}

.cards_product{
  width: 80%;
  display: flex;
  justify-content: space-around;
  
}
.card_product{
  width: 100%;
  height: 20%;
  margin: 0 1%;

  .card{ 
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    background: white;
  }
}

.product_picture{
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.wrapper_products{
  display: flex;
  flex-direction: column;
}
.product_details{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nameOfProduct{
  width: 90%;
  height: 60px;
  margin: 0 5%;
  
  span{
    font-size: 1.3em;
    font-weight: 600;
   
  }
}
.description{
  width: 90%;
  height: auto;
  margin: 0 5%;
  margin-top: 5%;
  border-bottom: 2px solid rgb(206, 206, 206);
  
  span{
    margin: 20px 0;
  }

}

.footer{
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span{
    font-size: 1.3em;
    font-weight: 600;
    
  }

  button{
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 12px;
    background: rgb(233, 76, 24);
    color: white;
    font-size: 1.2em;
    font-weight: 650;
  }

  button:hover{
    background: rgb(255, 108, 59);
  }
}

.nav-item{
  width: 80%;
  margin: 0 11%;
  display: flex;
}
.item{
  width: 100%;
  display: flex;
  gap: 3%;

  .link{
      font-size: x-large;
      
      a{
          text-decoration: none;
          color: black;
          font-weight: 600;
      }
      a:hover{
          color: rgb(255, 152, 70);
      }
  }
} 

.active{
  text-decoration: underline;
}
.active:hover{
  color: rgb(255, 152, 70);
}