.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  gap: 30px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
 /* width main - 1170px  whole width - 1920px*/
.Nav {
  flex-basis: 345px;
  background-color: white;
}
.Main {
  display: flex;
  /*max-width: 1170px;*/
  /*width: 100%;*/
  flex-grow: 1;
}
.Cart {
  flex-basis: 345px;
  background-color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
